.CharCard {


    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    max-width: 20%;
    flex-wrap: wrap;

    img {
        border-radius: 50%;
        width: 175px;
    }
}