.CharCard {


    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    cursor: pointer;

    img {
        border-radius: 50%;
        width: 175px;
    }

    div {
        font-weight: bold;

    }
}